<!-- <nav class="navbar navbar-dark" style="background-color: rgb(51,51,51);">  
    <div class="container">
        
        <a  routerLink="/inicio" class="navbar-brand titulo">CACTU</a>
        <li>
            <a class="navbar-brand titulo " routerLink="/jugar/perfil">Perfil</a>
        </li>
        <li>
            <a class="navbar-brand titulo" routerLink="/jugar/reclamar">Reclamar</a>
        </li>
        <label class="justify-content-end"style="color:white;">{{dato}}</label>
    </div>
    
    <button (click)="logOut()" style="margin-right: 10px;" class="btn btn-success">Cerrar sesión</button>
  </nav> -->
  <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand titulo" routerLink="/inicio">CACTU</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
          <li class="nav-item ">
            <a class="navbar-brand titulo " routerLink="/jugar/perfil">Perfil</a>
          </li>
          <li class="nav-item ">
            <a class="navbar-brand titulo" routerLink="/jugar/reclamar">Reclamar</a>
          </li>
              
        </ul>
        <label class="justify-content-end m-lg-2"style="color:white;">{{dato}}</label>
        <button (click)="logOut()" style="margin-right: 10px;" class="btn btn-success">Cerrar sesión</button>
      </div>
    </div>
  </nav>


<div *ngIf="loading" class="contenedor">
    <app-spinner></app-spinner>
</div>
<div *ngIf="!loading" class="contenedor">
    <div *ngIf="error" class="alert alert-danger" role="alert">
        <strong>{{ errorText }}</strong>
      </div>
    <input [(ngModel)]="pin" type="text" class="form-control input-ingresar mb-3" placeholder="PIN del juego">
    <button (click)="ingresar()" class="btn-ingresar btn-principal">Ingresar</button>
</div>
<div class="fixed-bottom">
    <!-- <p class="text-center text">
        Crea tu propio cuestionario GRATIS
        <a class="link" routerLink="/usuario">aqui</a>
    </p> -->
</div>