<!-- <nav class="navbar navbar-dark" style="background-color: rgb(51,51,51);">
    <div class="container">
        
        <a  routerLink="/" class="navbar-brand titulo">CACTU</a>
      
    </div>
    
    <button routerLink="/usuario"  style="margin-right: 10px;" class="btn-juegoclmg">Ingresar</button>
  </nav> -->
  <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand titulo" routerLink="/">CACTU</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
      
       
     
      </div>
    </div>
    <button routerLink="/usuario"  style="margin-right: 10px;" class="btn-juegoclmg btn  btn-sm">Ingresar</button>
  </nav>

<div  class="contenedor">
    <div class="d-flex justify-content-center align-self-center">
        <div class="card fondo mt-3" style="width: 40%;">
            <img src="assets/imagenes/logo.png" class="card-img-top" alt="...">
            <img class="card-img-top"  src="https://cdn-icons-png.flaticon.com/512/1294/1294451.png" width="150px">
            <div class="card-body">
              <h5 class="card-title titulo mt-3 mb-3" style="text-align: center;">Juega y gana</h5>
              
            </div>
          </div>


    </div>
    
</div>
