.contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: black;
    
    
}
.fondo{
    background-color: rgb(233, 233, 236);
}